<header class="panel-header row justify-content-between"
        qa-id="overview-panel-header">
    <h2>Overview</h2>
</header>
<section class="panel-container">
    <app-widget-container [name]="pages.overviewPage"
                          [config$]="goldenLayoutConfig$"
                          [widgets]="widgets"
                          [hamburgerMenuConfig]="hamburgerMenuConfig">
    </app-widget-container>
</section>
