@import 'variables';

$dropdown-hover-color: $brand-white;

app-map {
    height: 100%;
    width: 100%;
}

.panel-header {
    align-items: center;
    border-right: solid 4px $basic-text-color;
    border-left: solid 4px $basic-text-color;
    .header-buttons {
        align-items: center;
        display: flex;
    }
    .cell-view {
        i {
            width: 20px;
            height: 20px;
            background: url('../../../../shared/assets/icons/cell-view.svg') no-repeat;
        }
        .button-title {
          margin-left: $margin-small;
        }
    }
}

section {
    height: calc(100% - 98px);
}

.dropdown-menu {
    padding: 0;
    .dropdown-item {
        height: 40px;
        color: $links-controls-text-color;
    }
    .dropdown-item:hover {
        background-color: $dropdown-hover-color;
    }
    .divider {
        border-bottom: 1px solid $divider-color;
    }
}
