@import 'variables';
@import 'mixins';

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include font-size-value-normal();

    section {
        height: 100%;
        position: relative;

        &>.row {
            padding: $padding-middle;

            &.vessel-position {
                padding: 0;
            }
        }

        .vessel-status-row {
            height: 42px;
            padding-left: $padding-middle;
            display: flex;
            justify-content: space-between;
            align-items: center;

            vessel-status {
                flex: 1;
            }

            issue-counts {
                flex: 1;
                height: 100%;
                padding: 0 $padding-small;
            }
        }

        .center-text-row {
            align-items: center;
            justify-content: center;
            height: 90px;
            font-size: 16px;
            color: $sec-text-color;
        }
    }

    footer {
        div {
            padding: $padding-middle;
        }
    }
}
