<main *ngIf="selectedVessel$ | async as vessel">
    <section class="ps"
             perfectScrollbar>
        <article class="vessel-status-row">
            <vessel-status [vessel]="vessel"></vessel-status>
            <issue-counts *ngIf="vessel.issueInfo.issueCount.critical || vessel.issueInfo.issueCount.high"
                          [counts]="vessel.issueInfo.issueCount">
            </issue-counts>
        </article>

        <article *ngIf="vessel.voyageInfo"
                 class="row">
            <voyage-ports-info [vessel]="vessel"
                               [editModeEnabled]="true"
                               (savePortsInfo)="onSaveClick($event)">
            </voyage-ports-info>
            <voyage-info [voyageInfo]="vessel.voyageInfo">
            </voyage-info>
        </article>

        <article *ngIf="!vessel.voyageInfo"
                 class="row center-text-row">
            No monitoring route
        </article>

        <ng-container *ngIf="vessel.freshestPosition">
            <hr class="divider-middle">

            <article class="row vessel-position">
                <vessel-position [position]="vessel.freshestPosition"></vessel-position>
            </article>
        </ng-container>

        <hr class="divider-middle">

        <article class="row">
            <div class="col-4">
                <span class="item-name">IMO number</span>
            </div>
            <div class="col-8"
                 qa-id="vessel-imo">
                {{ vessel.imo }}
            </div>
        </article>
    </section>
    <footer>
        <div>
            <a *ngIf="vessel.hasRtmFeature"
               [routerLink]="'/rtm/' + vessel.tcmsId"
               [preserveQueryParams]="true"
               class="button button-small button-full-width button-with-icon button-rtm button-secondary"
               qa-id="vessel-rtm-link">
                Real Time Monitoring
            </a>
        </div>

        <ng-container *ngIf="vessel.freshestPosition?.timestamp">
            <hr class="divider-middle">

            <vessel-position-last-update [timestamp]="vessel.freshestPosition.timestamp">
            </vessel-position-last-update>
        </ng-container>
    </footer>
</main>
