@import 'variables';
@import 'mixins';

:host {
    display: block;
    height: 100%;
    background: $component-bg-color;
}

.component-list {
    position: relative;
    height: 100%;
}

.component-list-item {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
        display: block;
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        @include font-size-header-large();
    }
}

issue-counts {
    right: 4px;
}