<ul class="component-list ps"
    perfectScrollbar
    qa-id="vessel-list">
    <li class="component-list-item" qa-id="vessel-list-item"
        *ngFor='let vessel of vesselCollection$ | async'
        (click)="selectVessel(vessel)"
        [ngClass]="{'selected': vessel.id == (selectedVesselId$ | async)}">
        <span qa-id="vessel-list-vessel-name">{{ vessel.name }}</span>
        <issue-counts *ngIf="vessel.issueInfo"
                      [counts]="vessel.issueInfo.issueCount" 
                      [countLimit]="99">
        </issue-counts>
    </li>
</ul>